.navbar-explorar {
  height: 60px; /* menor que a da home */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  border-bottom: 1px solid #eee;
  background-color: white;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.clara {
  color: #2C3E50;
}

.verso {
  color: #F06292;
}

.voltar {
  padding: 6px 14px;
  border-radius: 20px;
  border: none;
  background-color: #F06292;
  color: white;
  cursor: pointer;
  font-size: 13px;
}