<div class="card" [routerLink]="['/resenha', resenha.id]">
  <img [src]="resenha.imagem" alt="imagem">

  <div class="card-content">

    <div class="tag-genero">
      {{ resenha.genero }}
    </div>

    <h3>
        {{ resenha.titulo }}
    </h3>

    <div class="estrelas">
        <span *ngFor="let _ of [].constructor(estrelasCheias)">★</span>
        <span *ngIf="temMeiaEstrela">⯪</span>
        <span class="vazia"
                *ngFor="let _ of [].constructor(estrelasVazias)">
            ★
        </span>
    </div>

    <p class="preview">{{ resenha.resenha }}</p>
  </div>
</div>