<app-menu></app-menu>
<div class="container">

    <section *ngIf="livros.length">
    <h2>Livros</h2>
    <div class="grid">
      <app-resenha-card
        *ngFor="let r of livros | slice:0:4"
        [resenha]="r">
      </app-resenha-card>
    </div>
  </section>

  <section *ngIf="filmes.length">
    <h2>Filmes</h2>
    <div class="grid">
      <app-resenha-card
        *ngFor="let r of filmes | slice:0:4"
        [resenha]="r">
      </app-resenha-card>
    </div>
  </section>


  <section *ngIf="series.length">
    <h2>Séries</h2>
    <div class="grid">
      <app-resenha-card
        *ngFor="let r of series | slice:0:4"
        [resenha]="r">
      </app-resenha-card>
    </div>
  </section>

</div>
