.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  padding: 20px 40px;
  color: #2C3E50;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.clara {
  color: #2C3E50; 
}

.verso {
  color: #F06292; 
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid #ddd;
  margin: 15px 0;
}

.links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: #2C3E50;
  font-weight: 500;
  transition: 0.3s;
  
  font-size: 18px;
}

.links a:hover {
  color: #F06292;
}
