.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  padding: 20px 40px;
  color: #2C3E50;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 1px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.clara {
  color: #2C3E50; 
}

.verso {
  color: #F06292; 
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid #ddd;
  margin: 15px 0;
}

.links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.links a {
  position: relative;
  text-decoration: none;
  color: #2C3E50;
  font-weight: 550;
  font-size: 18px;
}

.links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #F06292;
  transition: width 0.3s ease;
}

.links a:hover::after {
  width: 100%;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.hamburger.active {
  transform: rotate(90deg);
}


@media (max-width: 768px) {

  .logo {
    font-size: 24px;
  }

  .navbar {
    position: relative;
    padding: 10px 20px;
  }

  hr {
    display: none;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 20px;
    top: 25px;
    transform: translateY(-50%);
  }

  .hamburger.active {
    transform: rotate(90deg);
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    max-height: 0;
    overflow: hidden;
    gap: 15px;
    margin-top: 0;

    transition: max-height 0.4s ease, margin-top 0.3s ease;
  }

  .links.active {
    max-height: 300px;
    margin-top: 20px;
  }


}