<app-navbar-explorar></app-navbar-explorar>
<div class="container">
  <section>

    <div class="topo-explorar">
      <h2>Explorar o ClaraVerso</h2>

      <input 
        type="text"
        placeholder="Pesquisar resenha..."
        [(ngModel)]="busca"
      />
    </div>

    <div class="botoes">
      <button (click)="selecionarTipo(null)">Todos</button>
      <button (click)="selecionarTipo('livro')">Livros</button>
      <button (click)="selecionarTipo('filme')">Filmes</button>
      <button (click)="selecionarTipo('serie')">Séries</button>
    </div>

    <div class="grid">
      <app-resenha-card
        *ngFor="let resenha of resenhasFiltradas"
        [resenha]="resenha">
      </app-resenha-card>
    </div>

  </section>
</div>