.container {
  padding: 40px 80px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 280px));
  gap: 25px;
  justify-content: start;
}

app-resenha-card {
  flex: 1 1 250px;
  max-width: 300px;
}

.filtros {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.filtros input {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.topo-explorar {
  display: flex;
  justify-content:center;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
  color: #2C3E50;
  font-size: 20px;
}

.topo-explorar input {
  width: 280px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.botoes {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: center;
}

.botoes button {
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  background-color: #F06292;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.botoes button:hover {
  opacity: 0.8;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
}

@media (max-width: 768px) {
  .topo-explorar {
    display: flex;
    margin-bottom: 15px;
    gap: 15px;
    font-size: 14px;
  }

  .botoes button {
    padding: 5px 9px;
    font-size: 10px;
  }

  .botoes {
    flex-wrap: nowrap;
    overflow-x: auto; 
    gap: 5px;
  }

  .filtros input {
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 10px;
  }
}